<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>

		<!-- write logs to file for only application-specific logs -->
		<target xsi:type="File" name="ownFile-web" fileName="Logs\${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"  />
		<!-- write logs to console -->
		<target xsi:type="Console" name="console"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- All logs, including from Microsoft (if needed for debugging purposes) -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!-- Skip all Microsoft and third-party library logs -->
		<logger name="Microsoft.*" minlevel="Off" final="true" />
		<logger name="System.*" minlevel="Off" final="true" />

		<!-- Log only application-specific logs -->
		<logger name="_04_Inventory.Api.*" minlevel="Trace" writeTo="ownFile-web" />
		<!-- Log only application-specific logs to both file and console -->
		<logger name="_04_Inventory.Api.*" minlevel="Trace" writeTo="ownFile-web, console" />
	</rules>
</nlog>